<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianbao.points.core.dao.IDepartmentDao" >

  <!-- 部门实体对象的持久化 -->
  <sql id="c_department">
      _department.id, _department.name, _department.description, _department.status,
      _department.parent_id parentId, _department.create_time createTime,
      _department.create_user_id createUserId, _department.update_time updateTime,
      _department.update_user_id updateUserId
    </sql>
  <sql id="t_department">department</sql>

  <select id="selectByPrimaryKey" resultMap="department" parameterType="java.lang.Long" >
    select <include refid="c_department" />
    from <include refid="t_department" /> _department
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from <include refid="t_department" />
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="department" >
    insert into <include refid="t_department" />
    (id, name, parent_id, description, status, create_time, create_user_id, update_time, update_user_id)
    values (#{id}, #{name}, #{parentId}, #{description}, #{status}, #{createTime},
      #{createUserId}, #{updateTime}, #{updateUserId})
  </insert>

  <insert id="insertSelective" parameterType="department" >
    insert into <include refid="t_department" />
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="parentId != null" >
        #{parentId},
      </if>
      <if test="description != null" >
        #{description},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="createUserId != null" >
        #{createUserId},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="department" >
    update <include refid="t_department" />
    <set >
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="department" >
    update <include refid="t_department" />
    set name = #{name},
      parent_id = #{parentId},
      description = #{description},
      status = #{status},
      create_time = #{createTime},
      create_user_id = #{createUserId},
      update_time = #{updateTime},
      update_user_id = #{updateUserId}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 根据id集合来查询部门信息列表-->
  <select id="selectListByIds" resultType="department">
    select <include refid="c_department"/>
    from  <include refid="t_department"/> _department
    where _department.id in
    <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
      #{id}
    </foreach>
  </select>
</mapper>