<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianbao.points.core.dao.IMessageDao" >

  <!-- 留言实体对象的持久化 -->
  <sql id="c_message">
      _message.id, _message.title, _message.content, _message.status,
      _message.url, _message.reply, _message.url_type urlType,
      _message.create_time createTime, _message.create_user_id createUserId,
      _message.update_time updateTime, _message.update_user_id updateUserId
  </sql>
  <sql id="t_message">message</sql>

  <select id="selectByPrimaryKey" resultType="message" parameterType="java.lang.Long" >
    select <include refid="c_message"/>
    from <include refid="t_message"/> _message
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from <include refid="t_message"/>
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="message" >
    insert into <include refid="t_message"/>
    (id, title, content, url_type, url, reply, status, create_time, create_user_id, update_time, update_user_id)
    values (#{id}, #{title}, #{content}, #{urlType}, #{url}, #{reply}, #{status},
    #{createTime}, #{createUserId}, #{updateTime}, #{updateUserId})
  </insert>

  <insert id="insertSelective" parameterType="message" >
    insert into <include refid="t_message"/>
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="urlType != null" >
        url_type,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="reply != null" >
        reply,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="title != null" >
        #{title},
      </if>
      <if test="content != null" >
        #{content},
      </if>
      <if test="urlType != null" >
        #{urlType},
      </if>
      <if test="url != null" >
        #{url},
      </if>
      <if test="reply != null" >
        #{reply},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="createUserId != null" >
        #{createUserId},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="message" >
    update <include refid="t_message"/>
    <set >
      <if test="title != null" >
        title = #{title},
      </if>
      <if test="content != null" >
        content = #{content},
      </if>
      <if test="urlType != null" >
        url_type = #{urlType},
      </if>
      <if test="url != null" >
        url = #{url},
      </if>
      <if test="reply != null" >
        reply = #{reply},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="message" >
    update <include refid="t_message"/>
    set title = #{title},
      content = #{content},
      url_type = #{urlType},
      url = #{url},
      reply = #{reply},
      status = #{status},
      create_time = #{createTime},
      create_user_id = #{createUserId},
      update_time = #{updateTime},
      update_user_id = #{updateUserId}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--通过查询关键词查询特定message的信息-->
  <select id="getListByIds" resultType="message">
    select <include refid="c_message"/>
    from <include refid="t_message"/> _message
    where _message.status = 0 and _message.id in
    <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
      #{id}
    </foreach>
  </select>

  <!--通过发送者id和接收者id查询特定message的信息列表-->
  <select id="getListBySenderId" resultType="com.tianbao.points.core.dto.MessageDTO">
    select <include refid="c_message"/>, <include refid="c_user"/>
    from <include refid="t_message"/> _message
    left join <include refid="t_user_message"/> _user_message
    on _user_message.message_id = _message.id and _user_message.status = 0
    left join <include refid="t_user"/> _user on _user.id = _user_message.sender_id and _user.status = 0
    where _user_message.receiver_id = #{currentId} and _user.id = #{senderId}
    order by _message.create_time desc
  </select>
</mapper>