<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.PointMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Point">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="radios" jdbcType="DOUBLE" property="radios" />
    <result column="pertotal" jdbcType="DOUBLE" property="pertotal" />
    <result column="curtotal" jdbcType="DOUBLE" property="curtotal" />
    <result column="checkinfo" jdbcType="CHAR" property="checkinfo" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="posttime" jdbcType="TIMESTAMP" property="posttime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, pid, username, radios, pertotal, curtotal, checkinfo, status, posttime
  </sql>
  <select id="selectByExample" parameterType="com.example.demo.pojo.PointExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from point
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from point
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from point
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.pojo.PointExample">
    delete from point
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.Point">
    insert into point (id, pid, username, 
      radios, pertotal, curtotal, 
      checkinfo, status, posttime
      )
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{radios,jdbcType=DOUBLE}, #{pertotal,jdbcType=DOUBLE}, #{curtotal,jdbcType=DOUBLE}, 
      #{checkinfo,jdbcType=CHAR}, #{status,jdbcType=INTEGER}, #{posttime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.Point">
    insert into point
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="radios != null">
        radios,
      </if>
      <if test="pertotal != null">
        pertotal,
      </if>
      <if test="curtotal != null">
        curtotal,
      </if>
      <if test="checkinfo != null">
        checkinfo,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="posttime != null">
        posttime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="radios != null">
        #{radios,jdbcType=DOUBLE},
      </if>
      <if test="pertotal != null">
        #{pertotal,jdbcType=DOUBLE},
      </if>
      <if test="curtotal != null">
        #{curtotal,jdbcType=DOUBLE},
      </if>
      <if test="checkinfo != null">
        #{checkinfo,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="posttime != null">
        #{posttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.pojo.PointExample" resultType="java.lang.Long">
    select count(*) from point
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update point
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.radios != null">
        radios = #{record.radios,jdbcType=DOUBLE},
      </if>
      <if test="record.pertotal != null">
        pertotal = #{record.pertotal,jdbcType=DOUBLE},
      </if>
      <if test="record.curtotal != null">
        curtotal = #{record.curtotal,jdbcType=DOUBLE},
      </if>
      <if test="record.checkinfo != null">
        checkinfo = #{record.checkinfo,jdbcType=CHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.posttime != null">
        posttime = #{record.posttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update point
    set id = #{record.id,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      radios = #{record.radios,jdbcType=DOUBLE},
      pertotal = #{record.pertotal,jdbcType=DOUBLE},
      curtotal = #{record.curtotal,jdbcType=DOUBLE},
      checkinfo = #{record.checkinfo,jdbcType=CHAR},
      status = #{record.status,jdbcType=INTEGER},
      posttime = #{record.posttime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.Point">
    update point
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="radios != null">
        radios = #{radios,jdbcType=DOUBLE},
      </if>
      <if test="pertotal != null">
        pertotal = #{pertotal,jdbcType=DOUBLE},
      </if>
      <if test="curtotal != null">
        curtotal = #{curtotal,jdbcType=DOUBLE},
      </if>
      <if test="checkinfo != null">
        checkinfo = #{checkinfo,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="posttime != null">
        posttime = #{posttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.Point">
    update point
    set pid = #{pid,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      radios = #{radios,jdbcType=DOUBLE},
      pertotal = #{pertotal,jdbcType=DOUBLE},
      curtotal = #{curtotal,jdbcType=DOUBLE},
      checkinfo = #{checkinfo,jdbcType=CHAR},
      status = #{status,jdbcType=INTEGER},
      posttime = #{posttime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Point">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="radios" jdbcType="DOUBLE" property="radios" />
    <result column="pertotal" jdbcType="DOUBLE" property="pertotal" />
    <result column="curtotal" jdbcType="DOUBLE" property="curtotal" />
    <result column="checkinfo" jdbcType="CHAR" property="checkinfo" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="posttime" jdbcType="TIMESTAMP" property="posttime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, pid, username, radios, pertotal, curtotal, checkinfo, status, posttime
  </sql>
  <select id="selectByExample" parameterType="com.example.demo.pojo.PointExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from point
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from point
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from point
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.pojo.PointExample">
    delete from point
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.Point">
    insert into point (id, pid, username, 
      radios, pertotal, curtotal, 
      checkinfo, status, posttime
      )
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{radios,jdbcType=DOUBLE}, #{pertotal,jdbcType=DOUBLE}, #{curtotal,jdbcType=DOUBLE}, 
      #{checkinfo,jdbcType=CHAR}, #{status,jdbcType=INTEGER}, #{posttime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.Point">
    insert into point
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="radios != null">
        radios,
      </if>
      <if test="pertotal != null">
        pertotal,
      </if>
      <if test="curtotal != null">
        curtotal,
      </if>
      <if test="checkinfo != null">
        checkinfo,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="posttime != null">
        posttime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="radios != null">
        #{radios,jdbcType=DOUBLE},
      </if>
      <if test="pertotal != null">
        #{pertotal,jdbcType=DOUBLE},
      </if>
      <if test="curtotal != null">
        #{curtotal,jdbcType=DOUBLE},
      </if>
      <if test="checkinfo != null">
        #{checkinfo,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="posttime != null">
        #{posttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.pojo.PointExample" resultType="java.lang.Long">
    select count(*) from point
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update point
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.radios != null">
        radios = #{record.radios,jdbcType=DOUBLE},
      </if>
      <if test="record.pertotal != null">
        pertotal = #{record.pertotal,jdbcType=DOUBLE},
      </if>
      <if test="record.curtotal != null">
        curtotal = #{record.curtotal,jdbcType=DOUBLE},
      </if>
      <if test="record.checkinfo != null">
        checkinfo = #{record.checkinfo,jdbcType=CHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.posttime != null">
        posttime = #{record.posttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update point
    set id = #{record.id,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      radios = #{record.radios,jdbcType=DOUBLE},
      pertotal = #{record.pertotal,jdbcType=DOUBLE},
      curtotal = #{record.curtotal,jdbcType=DOUBLE},
      checkinfo = #{record.checkinfo,jdbcType=CHAR},
      status = #{record.status,jdbcType=INTEGER},
      posttime = #{record.posttime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.Point">
    update point
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="radios != null">
        radios = #{radios,jdbcType=DOUBLE},
      </if>
      <if test="pertotal != null">
        pertotal = #{pertotal,jdbcType=DOUBLE},
      </if>
      <if test="curtotal != null">
        curtotal = #{curtotal,jdbcType=DOUBLE},
      </if>
      <if test="checkinfo != null">
        checkinfo = #{checkinfo,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="posttime != null">
        posttime = #{posttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.Point">
    update point
    set pid = #{pid,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      radios = #{radios,jdbcType=DOUBLE},
      pertotal = #{pertotal,jdbcType=DOUBLE},
      curtotal = #{curtotal,jdbcType=DOUBLE},
      checkinfo = #{checkinfo,jdbcType=CHAR},
      status = #{status,jdbcType=INTEGER},
      posttime = #{posttime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>