<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianbao.points.core.dao.IPositionDao" >

  <!-- 职位实体对象的持久化 -->
  <sql id="c_position">
      `_position`.id, `_position`.name, `_position`.department_id departmentId,
      `_position`.description, `_position`.status,
      `_position`.create_time createTime, `_position`.create_user_id createUserId,
      `_position`.update_time updateTime, `_position`.update_user_id updateUserId
  </sql>
  <sql id="t_position">`position`</sql>

  <select id="selectByPrimaryKey" resultMap="position" parameterType="java.lang.Long" >
    select <include refid="c_position" />
    from <include refid="t_position" /> `_position`
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from <include refid="t_position" />
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="position" >
    insert into <include refid="t_position" />
    (id, name, department_id, description, status, create_time, create_user_id, update_time, update_user_id)
    values (#{id}, #{name}, #{departmentId}, #{description}, #{status}, #{createTime},
      #{createUserId}, #{updateTime}, #{updateUserId})
  </insert>

  <insert id="insertSelective" parameterType="position" >
    insert into <include refid="t_position" />
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="departmentId != null" >
        #{departmentId},
      </if>
      <if test="description != null" >
        #{description},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="createUserId != null" >
        #{createUserId},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="position" >
    update <include refid="t_position" />
    <set >
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="departmentId != null" >
        department_id = #{departmentId},
      </if>
      <if test="description != null" >
        description = #{description},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="position" >
    update <include refid="t_position" />
    set `name` = #{name},
      department_id = #{departmentId},
      description = #{description},
      status = #{status},
      create_time = #{createTime},
      create_user_id = #{createUserId},
      update_time = #{updateTime},
      update_user_id = #{updateUserId}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>