<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianbao.points.core.dao.IRankDao" >

  <!-- 会员等级实体对象的持久化 -->
  <sql id="c_rank">
      _rank.id, _rank.name, _rank.alias, _rank.base_points basePoints,
      _rank.base_money baseMoney, _rank.status,
      _rank.color, _rank.order, _rank.max_bonus maxBonus,
     _rank.create_time createTime, _rank.create_user_id createUserId,
     _rank.update_time updateTime, _rank.update_user_id updateUserId
  </sql>
  <sql id="t_rank">rank</sql>

  <select id="selectByPrimaryKey" resultType="rank" parameterType="java.lang.Long" >
    select <include refid="c_rank"/>
    from <include refid="t_rank"/> _rank
    where id = #{id,jdbcType=BIGINT} and _rank.status = 0
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from <include refid="t_rank"/>
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="rank" useGeneratedKeys="true" keyProperty="id">
    insert into <include refid="t_rank"/>
    (id, name, alias, base_points, base_money, status, create_time, create_user_id, update_time, update_user_id, color, `order`, max_bonus)
    values (#{id}, #{name}, #{alias}, #{basePoints}, #{baseMoney}, #{status},
      #{createTime}, #{createUserId}, #{updateTime}, #{updateUserId}, #{color}, #{order}, #{maxBonus})
  </insert>

  <insert id="insertSelective" parameterType="rank" >
    insert into <include refid="t_rank"/>
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="alias != null" >
        alias,
      </if>
      <if test="basePoints != null" >
        base_points,
      </if>
      <if test="baseMoney != null" >
        base_money,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="order != null" >
        order,
      </if>
      <if test="maxBonus != null" >
        max_bonus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="alias != null" >
        #{alias},
      </if>
      <if test="basePoints != null" >
        #{basePoints},
      </if>
      <if test="baseMoney != null" >
        #{baseMoney},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="createUserId != null" >
        #{createUserId},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId},
      </if>
      <if test="color != null" >
        #{color},
      </if>
      <if test="order != null" >
        #{order},
      </if>
      <if test="maxBonus != null" >
        #{max_bonus},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="rank" >
    update <include refid="t_rank"/>
    <set >
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="alias != null" >
        alias = #{alias},
      </if>
      <if test="basePoints != null" >
        base_points = #{basePoints},
      </if>
      <if test="baseMoney != null" >
        base_money = #{baseMoney},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId},
      </if>
      <if test="color != null" >
        color = #{color},
      </if>
      <if test="order != null" >
        order = #{order},
      </if>
      <if test="maxBonus != null" >
        maxBonus = #{max_bonus},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="rank" >
    update <include refid="t_rank"/>
    set name = #{name},
      alias = #{alias},
      base_points = #{basePoints},
      base_money = #{baseMoney},
      status = #{status},
      create_time = #{createTime},
      create_user_id = #{createUserId},
      update_time = #{updateTime},
      update_user_id = #{updateUserId},
      color = #{color},
      order = #{order},
      max_bonus = #{maxBonus}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--查询所有会员等级列表，不分页-->
  <select id="selectList" resultType="rank">
    select <include refid="c_rank"/>
    from <include refid="t_rank"/> _rank
    where _rank.status = 0
  </select>

  <!--查询所有会员等级列表，分页-->
  <select id="selectListPage" resultType="rank">
    select <include refid="c_rank"/>
    from <include refid="t_rank"/> _rank
    where _rank.status = 0
    order by _rank.id
  </select>

  <!--根据排序编号查询会员等级实体-->
  <select id="getByOrder" resultType="rank">
    select <include refid="c_rank"/>
    from <include refid="t_rank"/> _rank
    where _rank.status = 0 and _rank.order = #{order}
  </select>
</mapper>