<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianbao.points.core.dao.IRoleAuthorityDao" >

  <!-- 角色权限关联表实体对象的持久化 -->
  <sql id="c_role_authority">
     _role_authority.id, _role_authority.role_id roleId, _role_authority.authority_id authorityId, _role_authority.status,
     _role_authority.create_time createTime, _role_authority.create_user_id createUserId,
     _role_authority.update_time updateTime, _role_authority.update_user_id updateUserId
  </sql>
  <sql id="t_role_authority">role_authority</sql>

  <select id="selectByPrimaryKey" resultType="roleAuthority" parameterType="java.lang.Long" >
    select <include refid="c_role_authority"/>
    from <include refid="t_role_authority"/> _role_authority
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from <include refid="t_role_authority"/>
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="roleAuthority" >
    insert into <include refid="t_role_authority"/>
    (id, role_id, authority_id, status, create_time, create_user_id, update_time, update_user_id)
    values (#{id}, #{roleId}, #{authorityId}, #{status}, #{createTime}, #{createUserId},
    #{updateTime}, #{updateUserId})
  </insert>

  <insert id="insertSelective" parameterType="roleAuthority" >
    insert into <include refid="t_role_authority"/>
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="authorityId != null" >
        authority_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="roleId != null" >
        #{roleId},
      </if>
      <if test="authorityId != null" >
        #{authorityId},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="createUserId != null" >
        #{createUserId},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="roleAuthority" >
    update <include refid="t_role_authority"/>
    <set >
      <if test="roleId != null" >
        role_id = #{roleId},
      </if>
      <if test="authorityId != null" >
        authority_id = #{authorityId},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="roleAuthority" >
    update <include refid="t_role_authority"/>
    set role_id = #{roleId},
      authority_id = #{authorityId},
      status = #{status},
      create_time = #{createTime},
      create_user_id = #{createUserId},
      update_time = #{updateTime},
      update_user_id = #{updateUserId}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>