<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianbao.points.core.dao.IStockDao" >

  <!-- 股票证券指数实体对象的持久化 -->
  <sql id="c_stock">
     _stock.id, _stock.publish_time publishTime, _stock.status, _rank.sh_open_exponent shOpenExponent,
     _stock.sh_close_exponent shCloseExponent, _stock.sh_max_exponent shMaxExponent, _stock.sh_min_exponent shMinExponent,
     _stock.tb_open_exponent tbOpenExponent, _stock.tb_close_exponent tbCloseExponent,
     _stock.tb_max_exponent tbMaxExponent, _stock.tb_min_exponent tbMinExponent,
     _stock.create_time createTime, _stock.create_user_id createUserId,
     _stock.update_time updateTime, _stock.update_user_id updateUserId
  </sql>
  <sql id="t_stock">stock</sql>

  <select id="selectByPrimaryKey" resultType="stock" parameterType="java.lang.Long" >
    select <include refid="c_stock"/>
    from <include refid="t_stock"/> _stock
    where id = #{id,jdbcType=BIGINT} and _stock.status = 0
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    update <include refid="t_stock"/>
    set status = 1
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="stock" useGeneratedKeys="true" keyProperty="id">
    insert into <include refid="t_stock"/>
    (id, publish_time, status, sh_open_exponent, sh_close_exponent, sh_max_exponent, sh_min_exponent, tb_open_exponent,
    tb_close_exponent, tb_max_exponent, tb_min_exponent, create_time, create_user_id, update_time, update_user_id)
    values (#{id}, #{publishTime}, #{status}, #{shOpenExponent}, #{shCloseExponent}, #{shMaxExponent}, #{shMinExponent},
    #{tbOpenExponent}, #{tbCloseExponent}, #{tbMaxExponent}, #{tbMinExponent}, #{createTime}, #{createUserId},
    #{updateTime}, #{updateUserId})
  </insert>

  <insert id="insertSelective" parameterType="stock" >
    insert into <include refid="t_stock"/>
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="shOpenExponent != null" >
        sh_open_exponent,
      </if>
      <if test="shCloseExponent != null" >
        sh_close_exponent,
      </if>
      <if test="shMaxExponent != null" >
        sh_max_exponent,
      </if>
      <if test="shMinExponent != null" >
        sh_min_exponent,
      </if>
      <if test="tbOpenExponent != null" >
        tb_open_exponent,
      </if>
      <if test="tbCloseExponent != null" >
        tb_close_exponent,
      </if>
      <if test="tbMaxExponent != null" >
        tb_max_exponent,
      </if>
      <if test="tbMinExponent != null" >
        tb_min_exponent,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="publishTime != null" >
        #{publishTime},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="shOpenExponent != null" >
        #{shOpenExponent},
      </if>
      <if test="shCloseExponent != null" >
        #{shCloseExponent},
      </if>
      <if test="shMaxExponent != null" >
        #{shMaxExponent},
      </if>
      <if test="shMinExponent != null" >
        #{shMinExponent},
      </if>
      <if test="tbOpenExponent != null" >
        #{tbOpenExponent},
      </if>
      <if test="tbCloseExponent != null" >
        #{tbCloseExponent},
      </if>
      <if test="tbMaxExponent != null" >
        #{tbMaxExponent},
      </if>
      <if test="tbMinExponent != null" >
        #{tbMinExponent},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="createUserId != null" >
        #{createUserId},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="stock" >
    update <include refid="t_stock"/>
    <set >
      <if test="publishTime != null" >
        publish_time = #{publishTime},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="shOpenExponent != null" >
        sh_open_exponent = #{shOpenExponent},
      </if>
      <if test="shCloseExponent != null" >
        sh_close_exponent = #{shCloseExponent},
      </if>
      <if test="shMaxExponent != null" >
        sh_max_exponent = #{shMaxExponent},
      </if>
      <if test="shMinExponent != null" >
        sh_min_exponent = #{shMinExponent},
      </if>
      <if test="tbOpenExponent != null" >
        tb_open_exponent = #{tbOpenExponent},
      </if>
      <if test="tbCloseExponent != null" >
        tb_close_exponent = #{tbCloseExponent},
      </if>
      <if test="tbMaxExponent != null" >
        tb_max_exponent = #{tbMaxExponent},
      </if>
      <if test="tbMinExponent != null" >
        tb_min_exponent = #{tbMinExponent},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="stock" >
    update <include refid="t_stock"/>
    set publish_time = #{publishTime},
      status = #{status},
      sh_open_exponent = #{shOpenExponent},
      sh_close_exponent = #{shCloseExponent},
      sh_max_exponent = #{shMaxExponent},
      sh_min_exponent = #{shMinExponent},
      tb_open_exponent = #{tbOpenExponent},
      tb_close_exponent = #{tbCloseExponent},
      tb_max_exponent = #{tbMaxExponent},
      tb_min_exponent = #{tbMinExponent},
      create_time = #{createTime},
      create_user_id = #{createUserId},
      update_time = #{updateTime},
      update_user_id = #{updateUserId}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--使用pagehelper物理分页查询证券指数信息列表-->
  <select id="selectListPage">
    select <include refid="c_stock"/>
    from <include refid="t_stock"/> _stock
    where _stock.status = 0
    order by _stock.publish_time desc
  </select>

  <!--查询证券指数信息列表，不分页,正序排列，最新的num条-->
  <select id="selectList">
    select <include refid="c_stock"/>
    from (select * from <include refid="t_stock"/> stock_
    where stock_.status = 0 order by stock_.publish_time desc limit #{num}) as _stock
    where _stock.status = 0
    order by _stock.publish_time
  </select>
</mapper>