<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianbao.points.core.dao.ISystemBonusDao" >

  <!-- 系统积分结算实体对象的持久化 -->
  <sql id="c_system_bonus">
     _system_bonus.id, _system_bonus.start_points startPoints,
     _system_bonus.end_points endPoints, _system_bonus.ratio, _system_bonus.visible, _system_bonus.status,
     _system_bonus.create_time createTime, _system_bonus.create_user_id createUserId,
     _system_bonus.update_time updateTime, _system_bonus.update_user_id updateUserId
  </sql>
  <sql id="t_system_bonus">system_bonus</sql>

  <select id="selectByPrimaryKey" resultType="systemBonus" parameterType="java.lang.Long" >
    select <include refid="c_system_bonus"/>
    from <include refid="t_system_bonus"/> _system_bonus
    where id = #{id,jdbcType=BIGINT} and _system_bonus.status = 0
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from <include refid="t_system_bonus"/>
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="systemBonus" >
    insert into <include refid="t_system_bonus"/>
    (id, start_points, end_points, ratio, visible, status, create_time, create_user_id, update_time, update_user_id)
    values (#{id}, #{startPoints}, #{endPoints}, #{ratio}, #{visible}, #{status}, #{createTime}, #{createUserId},
    #{updateTime}, #{updateUserId})
  </insert>

  <insert id="insertSelective" parameterType="systemBonus" >
    insert into <include refid="t_system_bonus"/>
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="startPoints != null" >
        start_points,
      </if>
      <if test="endPoints != null" >
        end_points,
      </if>
      <if test="ratio != null" >
        ratio,
      </if>
      <if test="visible != null" >
        visible,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="startPoints != null" >
        #{startPoints},
      </if>
      <if test="endPoints != null" >
        #{endPoints},
      </if>
      <if test="ratio != null" >
        #{ratio},
      </if>
      <if test="visible != null" >
        #{visible},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="createUserId != null" >
        #{createUserId},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="systemBonus" >
    update <include refid="t_system_bonus"/>
    <set >
      <if test="startPoints != null" >
        start_points = #{startPoints},
      </if>
      <if test="endPoints != null" >
        end_points = #{endPoints},
      </if>
      <if test="ratio != null" >
        ratio = #{ratio},
      </if>
      <if test="visible != null" >
        visible = #{visible},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="systemBonus" >
    update <include refid="t_system_bonus"/>
    set start_points = #{startPoints},
      end_points = #{endPoints},
      ratio = #{ratio},
      visible = #{visible},
      status = #{status},
      create_time = #{createTime},
      create_user_id = #{createUserId},
      update_time = #{updateTime},
      update_user_id = #{updateUserId}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--获取系统积分增值列表-->
  <select id="getListPage" resultType="systemBonus">
    select <include refid="c_system_bonus"/>
    from <include refid="t_system_bonus"/> _system_bonus
    where _system_bonus.status = 0
    order by _system_bonus.create_time desc
  </select>

  <!--&lt;!&ndash;获取系统中最新的一条数据&ndash;&gt;-->
  <!--<select id="getLastest" resultType="systemBonus">-->
    <!--select <include refid="c_system_bonus"/>-->
    <!--from <include refid="t_system_bonus"/> _system_bonus-->
    <!--where _system_bonus.status = 0-->
    <!--order by _system_bonus.create_time desc -->
    <!--limit 0, 1-->
  <!--</select>-->
</mapper>