<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mybatisdemo.dao.SystemBonusMapper" >
  <resultMap id="BaseResultMap" type="com.example.mybatisdemo.entity.SystemBonus" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="start_points" property="startPoints" jdbcType="DOUBLE" />
    <result column="end_points" property="endPoints" jdbcType="DOUBLE" />
    <result column="ratio" property="ratio" jdbcType="DOUBLE" />
    <result column="visible" property="visible" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, start_points, end_points, ratio, visible, status, create_time, create_user_id, 
    update_time, update_user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from system_bonus
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from system_bonus
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.mybatisdemo.entity.SystemBonus" >
    insert into system_bonus (id, start_points, end_points, 
      ratio, visible, status, 
      create_time, create_user_id, update_time, 
      update_user_id)
    values (#{id,jdbcType=BIGINT}, #{startPoints,jdbcType=DOUBLE}, #{endPoints,jdbcType=DOUBLE}, 
      #{ratio,jdbcType=DOUBLE}, #{visible,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.mybatisdemo.entity.SystemBonus" >
    insert into system_bonus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="startPoints != null" >
        start_points,
      </if>
      <if test="endPoints != null" >
        end_points,
      </if>
      <if test="ratio != null" >
        ratio,
      </if>
      <if test="visible != null" >
        visible,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="startPoints != null" >
        #{startPoints,jdbcType=DOUBLE},
      </if>
      <if test="endPoints != null" >
        #{endPoints,jdbcType=DOUBLE},
      </if>
      <if test="ratio != null" >
        #{ratio,jdbcType=DOUBLE},
      </if>
      <if test="visible != null" >
        #{visible,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.mybatisdemo.entity.SystemBonus" >
    update system_bonus
    <set >
      <if test="startPoints != null" >
        start_points = #{startPoints,jdbcType=DOUBLE},
      </if>
      <if test="endPoints != null" >
        end_points = #{endPoints,jdbcType=DOUBLE},
      </if>
      <if test="ratio != null" >
        ratio = #{ratio,jdbcType=DOUBLE},
      </if>
      <if test="visible != null" >
        visible = #{visible,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.mybatisdemo.entity.SystemBonus" >
    update system_bonus
    set start_points = #{startPoints,jdbcType=DOUBLE},
      end_points = #{endPoints,jdbcType=DOUBLE},
      ratio = #{ratio,jdbcType=DOUBLE},
      visible = #{visible,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>