<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UpLevelMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.UpLevel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="upuser" jdbcType="VARCHAR" property="upuser" />
    <result column="oldlevel" jdbcType="INTEGER" property="oldlevel" />
    <result column="newlevel" jdbcType="INTEGER" property="newlevel" />
    <result column="points" jdbcType="INTEGER" property="points" />
    <result column="uptime" jdbcType="TIMESTAMP" property="uptime" />
    <result column="checkinfo" jdbcType="CHAR" property="checkinfo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user, upuser, oldlevel, newlevel, points, uptime, checkinfo
  </sql>
  <select id="selectByExample" parameterType="com.example.demo.pojo.UpLevelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from uplevel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from uplevel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from uplevel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.pojo.UpLevelExample">
    delete from uplevel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.UpLevel">
    insert into uplevel (id, user, upuser, 
      oldlevel, newlevel, points, 
      uptime, checkinfo)
    values (#{id,jdbcType=INTEGER}, #{user,jdbcType=VARCHAR}, #{upuser,jdbcType=VARCHAR}, 
      #{oldlevel,jdbcType=INTEGER}, #{newlevel,jdbcType=INTEGER}, #{points,jdbcType=INTEGER}, 
      #{uptime,jdbcType=TIMESTAMP}, #{checkinfo,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.UpLevel">
    insert into uplevel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="user != null">
        user,
      </if>
      <if test="upuser != null">
        upuser,
      </if>
      <if test="oldlevel != null">
        oldlevel,
      </if>
      <if test="newlevel != null">
        newlevel,
      </if>
      <if test="points != null">
        points,
      </if>
      <if test="uptime != null">
        uptime,
      </if>
      <if test="checkinfo != null">
        checkinfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="user != null">
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="upuser != null">
        #{upuser,jdbcType=VARCHAR},
      </if>
      <if test="oldlevel != null">
        #{oldlevel,jdbcType=INTEGER},
      </if>
      <if test="newlevel != null">
        #{newlevel,jdbcType=INTEGER},
      </if>
      <if test="points != null">
        #{points,jdbcType=INTEGER},
      </if>
      <if test="uptime != null">
        #{uptime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkinfo != null">
        #{checkinfo,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.pojo.UpLevelExample" resultType="java.lang.Long">
    select count(*) from uplevel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update uplevel
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.user != null">
        user = #{record.user,jdbcType=VARCHAR},
      </if>
      <if test="record.upuser != null">
        upuser = #{record.upuser,jdbcType=VARCHAR},
      </if>
      <if test="record.oldlevel != null">
        oldlevel = #{record.oldlevel,jdbcType=INTEGER},
      </if>
      <if test="record.newlevel != null">
        newlevel = #{record.newlevel,jdbcType=INTEGER},
      </if>
      <if test="record.points != null">
        points = #{record.points,jdbcType=INTEGER},
      </if>
      <if test="record.uptime != null">
        uptime = #{record.uptime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkinfo != null">
        checkinfo = #{record.checkinfo,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update uplevel
    set id = #{record.id,jdbcType=INTEGER},
      user = #{record.user,jdbcType=VARCHAR},
      upuser = #{record.upuser,jdbcType=VARCHAR},
      oldlevel = #{record.oldlevel,jdbcType=INTEGER},
      newlevel = #{record.newlevel,jdbcType=INTEGER},
      points = #{record.points,jdbcType=INTEGER},
      uptime = #{record.uptime,jdbcType=TIMESTAMP},
      checkinfo = #{record.checkinfo,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.UpLevel">
    update uplevel
    <set>
      <if test="user != null">
        user = #{user,jdbcType=VARCHAR},
      </if>
      <if test="upuser != null">
        upuser = #{upuser,jdbcType=VARCHAR},
      </if>
      <if test="oldlevel != null">
        oldlevel = #{oldlevel,jdbcType=INTEGER},
      </if>
      <if test="newlevel != null">
        newlevel = #{newlevel,jdbcType=INTEGER},
      </if>
      <if test="points != null">
        points = #{points,jdbcType=INTEGER},
      </if>
      <if test="uptime != null">
        uptime = #{uptime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkinfo != null">
        checkinfo = #{checkinfo,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.UpLevel">
    update uplevel
    set user = #{user,jdbcType=VARCHAR},
      upuser = #{upuser,jdbcType=VARCHAR},
      oldlevel = #{oldlevel,jdbcType=INTEGER},
      newlevel = #{newlevel,jdbcType=INTEGER},
      points = #{points,jdbcType=INTEGER},
      uptime = #{uptime,jdbcType=TIMESTAMP},
      checkinfo = #{checkinfo,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.UpLevel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="upuser" jdbcType="VARCHAR" property="upuser" />
    <result column="oldlevel" jdbcType="INTEGER" property="oldlevel" />
    <result column="newlevel" jdbcType="INTEGER" property="newlevel" />
    <result column="points" jdbcType="INTEGER" property="points" />
    <result column="uptime" jdbcType="TIMESTAMP" property="uptime" />
    <result column="checkinfo" jdbcType="CHAR" property="checkinfo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user, upuser, oldlevel, newlevel, points, uptime, checkinfo
  </sql>
  <select id="selectByExample" parameterType="com.example.demo.pojo.UpLevelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from uplevel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from uplevel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from uplevel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.pojo.UpLevelExample">
    delete from uplevel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.UpLevel">
    insert into uplevel (id, user, upuser, 
      oldlevel, newlevel, points, 
      uptime, checkinfo)
    values (#{id,jdbcType=INTEGER}, #{user,jdbcType=VARCHAR}, #{upuser,jdbcType=VARCHAR}, 
      #{oldlevel,jdbcType=INTEGER}, #{newlevel,jdbcType=INTEGER}, #{points,jdbcType=INTEGER}, 
      #{uptime,jdbcType=TIMESTAMP}, #{checkinfo,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.UpLevel">
    insert into uplevel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="user != null">
        user,
      </if>
      <if test="upuser != null">
        upuser,
      </if>
      <if test="oldlevel != null">
        oldlevel,
      </if>
      <if test="newlevel != null">
        newlevel,
      </if>
      <if test="points != null">
        points,
      </if>
      <if test="uptime != null">
        uptime,
      </if>
      <if test="checkinfo != null">
        checkinfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="user != null">
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="upuser != null">
        #{upuser,jdbcType=VARCHAR},
      </if>
      <if test="oldlevel != null">
        #{oldlevel,jdbcType=INTEGER},
      </if>
      <if test="newlevel != null">
        #{newlevel,jdbcType=INTEGER},
      </if>
      <if test="points != null">
        #{points,jdbcType=INTEGER},
      </if>
      <if test="uptime != null">
        #{uptime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkinfo != null">
        #{checkinfo,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.pojo.UpLevelExample" resultType="java.lang.Long">
    select count(*) from uplevel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update uplevel
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.user != null">
        user = #{record.user,jdbcType=VARCHAR},
      </if>
      <if test="record.upuser != null">
        upuser = #{record.upuser,jdbcType=VARCHAR},
      </if>
      <if test="record.oldlevel != null">
        oldlevel = #{record.oldlevel,jdbcType=INTEGER},
      </if>
      <if test="record.newlevel != null">
        newlevel = #{record.newlevel,jdbcType=INTEGER},
      </if>
      <if test="record.points != null">
        points = #{record.points,jdbcType=INTEGER},
      </if>
      <if test="record.uptime != null">
        uptime = #{record.uptime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkinfo != null">
        checkinfo = #{record.checkinfo,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update uplevel
    set id = #{record.id,jdbcType=INTEGER},
      user = #{record.user,jdbcType=VARCHAR},
      upuser = #{record.upuser,jdbcType=VARCHAR},
      oldlevel = #{record.oldlevel,jdbcType=INTEGER},
      newlevel = #{record.newlevel,jdbcType=INTEGER},
      points = #{record.points,jdbcType=INTEGER},
      uptime = #{record.uptime,jdbcType=TIMESTAMP},
      checkinfo = #{record.checkinfo,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.UpLevel">
    update uplevel
    <set>
      <if test="user != null">
        user = #{user,jdbcType=VARCHAR},
      </if>
      <if test="upuser != null">
        upuser = #{upuser,jdbcType=VARCHAR},
      </if>
      <if test="oldlevel != null">
        oldlevel = #{oldlevel,jdbcType=INTEGER},
      </if>
      <if test="newlevel != null">
        newlevel = #{newlevel,jdbcType=INTEGER},
      </if>
      <if test="points != null">
        points = #{points,jdbcType=INTEGER},
      </if>
      <if test="uptime != null">
        uptime = #{uptime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkinfo != null">
        checkinfo = #{checkinfo,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.UpLevel">
    update uplevel
    set user = #{user,jdbcType=VARCHAR},
      upuser = #{upuser,jdbcType=VARCHAR},
      oldlevel = #{oldlevel,jdbcType=INTEGER},
      newlevel = #{newlevel,jdbcType=INTEGER},
      points = #{points,jdbcType=INTEGER},
      uptime = #{uptime,jdbcType=TIMESTAMP},
      checkinfo = #{checkinfo,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>