<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianbao.points.core.dao.IUserPositionDao" >

  <!--用户职位关联表实体对象的持久化 -->
  <sql id="c_user_position">
      _user_position.id, _user_position.user_id userId, _user_position.position_id positionId, _user_position.status,
     _user_position.create_time createTime, _user_position.create_user_id createUserId,
     _user_position.update_time updateTime, _user_position.update_user_id updateUserId
  </sql>
  <sql id="t_user_position">user_position</sql>

  <select id="selectByPrimaryKey" resultMap="userPosition" parameterType="java.lang.Long" >
    select <include refid="c_user_position"/>
    from <include refid="t_user_position"/> _user_position
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from <include refid="t_user_position"/>
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="userPosition" >
    insert into <include refid="t_user_position"/>
    (id, user_id, position_id, status, create_time, create_user_id, update_time, update_user_id)
    values (#{id}, #{userId}, #{positionId}, #{status}, #{createTime}, #{createUserId}, #{updateTime}, #{updateUserId})
  </insert>

  <insert id="insertSelective" parameterType="userPosition" >
    insert into <include refid="t_user_position"/>
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="positionId != null" >
        position_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="positionId != null" >
        #{positionId},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="createUserId != null" >
        #{createUserId},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="userPosition" >
    update <include refid="t_user_position"/>
    <set >
      <if test="userId != null" >
        user_id = #{userId},
      </if>
      <if test="positionId != null" >
        position_id = #{positionId},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="userPosition" >
    update <include refid="t_user_position"/>
    set user_id = #{userId},
      position_id = #{positionId},
      status = #{status},
      create_time = #{createTime},
      create_user_id = #{createUserId},
      update_time = #{updateTime},
      update_user_id = #{updateUserId}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>