<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianbao.points.core.dao.IUserMessageDao" >

  <!-- 用户留言关联表实体对象的持久化 -->
  <sql id="c_user_message">
     _user_message.id, _user_message.message_id messageId, _user_message.sender_id senderId,
     _user_message.receiver_id receiverId, _user_message.status,
     _user_message.create_time createTime, _user_message.create_user_id createUserId,
     _user_message.update_time updateTime, _user_message.update_user_id updateUserId
  </sql>
  <sql id="t_user_message">user_message</sql>

  <select id="selectByPrimaryKey" resultType="userMessage" parameterType="java.lang.Long" >
    select <include refid="c_user_message"/>
    from <include refid="t_user_message"/> _user_message
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from <include refid="t_user_message"/>
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="userMessage" >
    insert into <include refid="t_user_message"/>
    (id, message_id, sender_id, receiver_id, status, create_time, create_user_id, update_time, update_user_id)
    values (#{id}, #{messageId}, #{senderId}, #{receiverId}, #{status}, #{createTime},
    #{createUserId}, #{updateTime}, #{updateUserId})
  </insert>

  <insert id="insertSelective" parameterType="userMessage" >
    insert into <include refid="t_user_message"/>
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="messageId != null" >
        message_id,
      </if>
      <if test="senderId != null" >
        sender_id,
      </if>
      <if test="receiverId != null" >
        receiver_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="messageId != null" >
        #{messageId},
      </if>
      <if test="senderId != null" >
        #{senderId},
      </if>
      <if test="receiverId != null" >
        #{receiverId},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="createUserId != null" >
        #{createUserId},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="userMessage" >
    update <include refid="t_user_message"/>
    <set >
      <if test="messageId != null" >
        message_id = #{messageId},
      </if>
      <if test="senderId != null" >
        sender_id = #{senderId},
      </if>
      <if test="receiverId != null" >
        receiver_id = #{receiverId},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="userMessage" >
    update <include refid="t_user_message"/>
    set message_id = #{messageId},
      sender_id = #{senderId},
      receiver_id = #{receiverId},
      status = #{status},
      create_time = #{createTime},
      create_user_id = #{createUserId},
      update_time = #{updateTime},
      update_user_id = #{updateUserId}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--查询用户留言关联表信息-->
  <select id="selectByIds" resultType="userMessage">
    select <include refid="c_user_message"/>
    from <include refid="t_user_message"/> _user_message
    where _user_message.message_id = #{id} and _user_message.status = 0
    and _user_message.sender_id = #{senderId} and _user_message.receiver_id = #{currentId}
  </select>
</mapper>