<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.WebConfigMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.WebConfig">
    <id column="varname" jdbcType="VARCHAR" property="varname" />
    <result column="siteid" jdbcType="SMALLINT" property="siteid" />
    <result column="varinfo" jdbcType="VARCHAR" property="varinfo" />
    <result column="vargroup" jdbcType="SMALLINT" property="vargroup" />
    <result column="vartype" jdbcType="CHAR" property="vartype" />
    <result column="orderid" jdbcType="SMALLINT" property="orderid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.demo.pojo.WebConfig">
    <result column="varvalue" jdbcType="LONGVARCHAR" property="varvalue" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    varname, siteid, varinfo, vargroup, vartype, orderid
  </sql>
  <sql id="Blob_Column_List">
    varvalue
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.example.demo.pojo.WebConfigExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from webconfig
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.example.demo.pojo.WebConfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from webconfig
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from webconfig
    where varname = #{varname,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from webconfig
    where varname = #{varname,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.pojo.WebConfigExample">
    delete from webconfig
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.WebConfig">
    insert into webconfig (varname, siteid, varinfo, 
      vargroup, vartype, orderid, 
      varvalue)
    values (#{varname,jdbcType=VARCHAR}, #{siteid,jdbcType=SMALLINT}, #{varinfo,jdbcType=VARCHAR}, 
      #{vargroup,jdbcType=SMALLINT}, #{vartype,jdbcType=CHAR}, #{orderid,jdbcType=SMALLINT}, 
      #{varvalue,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.WebConfig">
    insert into webconfig
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="varname != null">
        varname,
      </if>
      <if test="siteid != null">
        siteid,
      </if>
      <if test="varinfo != null">
        varinfo,
      </if>
      <if test="vargroup != null">
        vargroup,
      </if>
      <if test="vartype != null">
        vartype,
      </if>
      <if test="orderid != null">
        orderid,
      </if>
      <if test="varvalue != null">
        varvalue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="varname != null">
        #{varname,jdbcType=VARCHAR},
      </if>
      <if test="siteid != null">
        #{siteid,jdbcType=SMALLINT},
      </if>
      <if test="varinfo != null">
        #{varinfo,jdbcType=VARCHAR},
      </if>
      <if test="vargroup != null">
        #{vargroup,jdbcType=SMALLINT},
      </if>
      <if test="vartype != null">
        #{vartype,jdbcType=CHAR},
      </if>
      <if test="orderid != null">
        #{orderid,jdbcType=SMALLINT},
      </if>
      <if test="varvalue != null">
        #{varvalue,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.pojo.WebConfigExample" resultType="java.lang.Long">
    select count(*) from webconfig
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update webconfig
    <set>
      <if test="record.varname != null">
        varname = #{record.varname,jdbcType=VARCHAR},
      </if>
      <if test="record.siteid != null">
        siteid = #{record.siteid,jdbcType=SMALLINT},
      </if>
      <if test="record.varinfo != null">
        varinfo = #{record.varinfo,jdbcType=VARCHAR},
      </if>
      <if test="record.vargroup != null">
        vargroup = #{record.vargroup,jdbcType=SMALLINT},
      </if>
      <if test="record.vartype != null">
        vartype = #{record.vartype,jdbcType=CHAR},
      </if>
      <if test="record.orderid != null">
        orderid = #{record.orderid,jdbcType=SMALLINT},
      </if>
      <if test="record.varvalue != null">
        varvalue = #{record.varvalue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update webconfig
    set varname = #{record.varname,jdbcType=VARCHAR},
      siteid = #{record.siteid,jdbcType=SMALLINT},
      varinfo = #{record.varinfo,jdbcType=VARCHAR},
      vargroup = #{record.vargroup,jdbcType=SMALLINT},
      vartype = #{record.vartype,jdbcType=CHAR},
      orderid = #{record.orderid,jdbcType=SMALLINT},
      varvalue = #{record.varvalue,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update webconfig
    set varname = #{record.varname,jdbcType=VARCHAR},
      siteid = #{record.siteid,jdbcType=SMALLINT},
      varinfo = #{record.varinfo,jdbcType=VARCHAR},
      vargroup = #{record.vargroup,jdbcType=SMALLINT},
      vartype = #{record.vartype,jdbcType=CHAR},
      orderid = #{record.orderid,jdbcType=SMALLINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.WebConfig">
    update webconfig
    <set>
      <if test="siteid != null">
        siteid = #{siteid,jdbcType=SMALLINT},
      </if>
      <if test="varinfo != null">
        varinfo = #{varinfo,jdbcType=VARCHAR},
      </if>
      <if test="vargroup != null">
        vargroup = #{vargroup,jdbcType=SMALLINT},
      </if>
      <if test="vartype != null">
        vartype = #{vartype,jdbcType=CHAR},
      </if>
      <if test="orderid != null">
        orderid = #{orderid,jdbcType=SMALLINT},
      </if>
      <if test="varvalue != null">
        varvalue = #{varvalue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where varname = #{varname,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.demo.pojo.WebConfig">
    update webconfig
    set siteid = #{siteid,jdbcType=SMALLINT},
      varinfo = #{varinfo,jdbcType=VARCHAR},
      vargroup = #{vargroup,jdbcType=SMALLINT},
      vartype = #{vartype,jdbcType=CHAR},
      orderid = #{orderid,jdbcType=SMALLINT},
      varvalue = #{varvalue,jdbcType=LONGVARCHAR}
    where varname = #{varname,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.WebConfig">
    update webconfig
    set siteid = #{siteid,jdbcType=SMALLINT},
      varinfo = #{varinfo,jdbcType=VARCHAR},
      vargroup = #{vargroup,jdbcType=SMALLINT},
      vartype = #{vartype,jdbcType=CHAR},
      orderid = #{orderid,jdbcType=SMALLINT}
    where varname = #{varname,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.WebConfig">
    <id column="varname" jdbcType="VARCHAR" property="varname" />
    <result column="siteid" jdbcType="SMALLINT" property="siteid" />
    <result column="varinfo" jdbcType="VARCHAR" property="varinfo" />
    <result column="vargroup" jdbcType="SMALLINT" property="vargroup" />
    <result column="vartype" jdbcType="CHAR" property="vartype" />
    <result column="orderid" jdbcType="SMALLINT" property="orderid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.demo.pojo.WebConfig">
    <result column="varvalue" jdbcType="LONGVARCHAR" property="varvalue" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    varname, siteid, varinfo, vargroup, vartype, orderid
  </sql>
  <sql id="Blob_Column_List">
    varvalue
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.example.demo.pojo.WebConfigExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from webconfig
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.example.demo.pojo.WebConfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from webconfig
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from webconfig
    where varname = #{varname,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from webconfig
    where varname = #{varname,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.pojo.WebConfigExample">
    delete from webconfig
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.WebConfig">
    insert into webconfig (varname, siteid, varinfo, 
      vargroup, vartype, orderid, 
      varvalue)
    values (#{varname,jdbcType=VARCHAR}, #{siteid,jdbcType=SMALLINT}, #{varinfo,jdbcType=VARCHAR}, 
      #{vargroup,jdbcType=SMALLINT}, #{vartype,jdbcType=CHAR}, #{orderid,jdbcType=SMALLINT}, 
      #{varvalue,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.WebConfig">
    insert into webconfig
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="varname != null">
        varname,
      </if>
      <if test="siteid != null">
        siteid,
      </if>
      <if test="varinfo != null">
        varinfo,
      </if>
      <if test="vargroup != null">
        vargroup,
      </if>
      <if test="vartype != null">
        vartype,
      </if>
      <if test="orderid != null">
        orderid,
      </if>
      <if test="varvalue != null">
        varvalue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="varname != null">
        #{varname,jdbcType=VARCHAR},
      </if>
      <if test="siteid != null">
        #{siteid,jdbcType=SMALLINT},
      </if>
      <if test="varinfo != null">
        #{varinfo,jdbcType=VARCHAR},
      </if>
      <if test="vargroup != null">
        #{vargroup,jdbcType=SMALLINT},
      </if>
      <if test="vartype != null">
        #{vartype,jdbcType=CHAR},
      </if>
      <if test="orderid != null">
        #{orderid,jdbcType=SMALLINT},
      </if>
      <if test="varvalue != null">
        #{varvalue,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.pojo.WebConfigExample" resultType="java.lang.Long">
    select count(*) from webconfig
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update webconfig
    <set>
      <if test="record.varname != null">
        varname = #{record.varname,jdbcType=VARCHAR},
      </if>
      <if test="record.siteid != null">
        siteid = #{record.siteid,jdbcType=SMALLINT},
      </if>
      <if test="record.varinfo != null">
        varinfo = #{record.varinfo,jdbcType=VARCHAR},
      </if>
      <if test="record.vargroup != null">
        vargroup = #{record.vargroup,jdbcType=SMALLINT},
      </if>
      <if test="record.vartype != null">
        vartype = #{record.vartype,jdbcType=CHAR},
      </if>
      <if test="record.orderid != null">
        orderid = #{record.orderid,jdbcType=SMALLINT},
      </if>
      <if test="record.varvalue != null">
        varvalue = #{record.varvalue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update webconfig
    set varname = #{record.varname,jdbcType=VARCHAR},
      siteid = #{record.siteid,jdbcType=SMALLINT},
      varinfo = #{record.varinfo,jdbcType=VARCHAR},
      vargroup = #{record.vargroup,jdbcType=SMALLINT},
      vartype = #{record.vartype,jdbcType=CHAR},
      orderid = #{record.orderid,jdbcType=SMALLINT},
      varvalue = #{record.varvalue,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update webconfig
    set varname = #{record.varname,jdbcType=VARCHAR},
      siteid = #{record.siteid,jdbcType=SMALLINT},
      varinfo = #{record.varinfo,jdbcType=VARCHAR},
      vargroup = #{record.vargroup,jdbcType=SMALLINT},
      vartype = #{record.vartype,jdbcType=CHAR},
      orderid = #{record.orderid,jdbcType=SMALLINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.WebConfig">
    update webconfig
    <set>
      <if test="siteid != null">
        siteid = #{siteid,jdbcType=SMALLINT},
      </if>
      <if test="varinfo != null">
        varinfo = #{varinfo,jdbcType=VARCHAR},
      </if>
      <if test="vargroup != null">
        vargroup = #{vargroup,jdbcType=SMALLINT},
      </if>
      <if test="vartype != null">
        vartype = #{vartype,jdbcType=CHAR},
      </if>
      <if test="orderid != null">
        orderid = #{orderid,jdbcType=SMALLINT},
      </if>
      <if test="varvalue != null">
        varvalue = #{varvalue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where varname = #{varname,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.demo.pojo.WebConfig">
    update webconfig
    set siteid = #{siteid,jdbcType=SMALLINT},
      varinfo = #{varinfo,jdbcType=VARCHAR},
      vargroup = #{vargroup,jdbcType=SMALLINT},
      vartype = #{vartype,jdbcType=CHAR},
      orderid = #{orderid,jdbcType=SMALLINT},
      varvalue = #{varvalue,jdbcType=LONGVARCHAR}
    where varname = #{varname,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.WebConfig">
    update webconfig
    set siteid = #{siteid,jdbcType=SMALLINT},
      varinfo = #{varinfo,jdbcType=VARCHAR},
      vargroup = #{vargroup,jdbcType=SMALLINT},
      vartype = #{vartype,jdbcType=CHAR},
      orderid = #{orderid,jdbcType=SMALLINT}
    where varname = #{varname,jdbcType=VARCHAR}
  </update>
</mapper>