<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.YyjsMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Yyjs">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="jsdate" jdbcType="TIMESTAMP" property="jsdate" />
    <result column="radios" jdbcType="DOUBLE" property="radios" />
    <result column="wy" jdbcType="INTEGER" property="wy" />
    <result column="kg" jdbcType="INTEGER" property="kg" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, pid, jsdate, radios, wy, kg
  </sql>
  <select id="selectByExample" parameterType="com.example.demo.pojo.YyjsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yyjs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yyjs
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yyjs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.pojo.YyjsExample">
    delete from yyjs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.Yyjs">
    insert into yyjs (id, pid, jsdate, 
      radios, wy, kg)
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{jsdate,jdbcType=TIMESTAMP}, 
      #{radios,jdbcType=DOUBLE}, #{wy,jdbcType=INTEGER}, #{kg,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.Yyjs">
    insert into yyjs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="jsdate != null">
        jsdate,
      </if>
      <if test="radios != null">
        radios,
      </if>
      <if test="wy != null">
        wy,
      </if>
      <if test="kg != null">
        kg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="jsdate != null">
        #{jsdate,jdbcType=TIMESTAMP},
      </if>
      <if test="radios != null">
        #{radios,jdbcType=DOUBLE},
      </if>
      <if test="wy != null">
        #{wy,jdbcType=INTEGER},
      </if>
      <if test="kg != null">
        #{kg,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.pojo.YyjsExample" resultType="java.lang.Long">
    select count(*) from yyjs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update yyjs
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.jsdate != null">
        jsdate = #{record.jsdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.radios != null">
        radios = #{record.radios,jdbcType=DOUBLE},
      </if>
      <if test="record.wy != null">
        wy = #{record.wy,jdbcType=INTEGER},
      </if>
      <if test="record.kg != null">
        kg = #{record.kg,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update yyjs
    set id = #{record.id,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=INTEGER},
      jsdate = #{record.jsdate,jdbcType=TIMESTAMP},
      radios = #{record.radios,jdbcType=DOUBLE},
      wy = #{record.wy,jdbcType=INTEGER},
      kg = #{record.kg,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.Yyjs">
    update yyjs
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="jsdate != null">
        jsdate = #{jsdate,jdbcType=TIMESTAMP},
      </if>
      <if test="radios != null">
        radios = #{radios,jdbcType=DOUBLE},
      </if>
      <if test="wy != null">
        wy = #{wy,jdbcType=INTEGER},
      </if>
      <if test="kg != null">
        kg = #{kg,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.Yyjs">
    update yyjs
    set pid = #{pid,jdbcType=INTEGER},
      jsdate = #{jsdate,jdbcType=TIMESTAMP},
      radios = #{radios,jdbcType=DOUBLE},
      wy = #{wy,jdbcType=INTEGER},
      kg = #{kg,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Yyjs">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="jsdate" jdbcType="TIMESTAMP" property="jsdate" />
    <result column="radios" jdbcType="DOUBLE" property="radios" />
    <result column="wy" jdbcType="INTEGER" property="wy" />
    <result column="kg" jdbcType="INTEGER" property="kg" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, pid, jsdate, radios, wy, kg
  </sql>
  <select id="selectByExample" parameterType="com.example.demo.pojo.YyjsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yyjs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yyjs
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yyjs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.pojo.YyjsExample">
    delete from yyjs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.Yyjs">
    insert into yyjs (id, pid, jsdate, 
      radios, wy, kg)
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{jsdate,jdbcType=TIMESTAMP}, 
      #{radios,jdbcType=DOUBLE}, #{wy,jdbcType=INTEGER}, #{kg,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.Yyjs">
    insert into yyjs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="jsdate != null">
        jsdate,
      </if>
      <if test="radios != null">
        radios,
      </if>
      <if test="wy != null">
        wy,
      </if>
      <if test="kg != null">
        kg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="jsdate != null">
        #{jsdate,jdbcType=TIMESTAMP},
      </if>
      <if test="radios != null">
        #{radios,jdbcType=DOUBLE},
      </if>
      <if test="wy != null">
        #{wy,jdbcType=INTEGER},
      </if>
      <if test="kg != null">
        #{kg,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.pojo.YyjsExample" resultType="java.lang.Long">
    select count(*) from yyjs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update yyjs
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.jsdate != null">
        jsdate = #{record.jsdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.radios != null">
        radios = #{record.radios,jdbcType=DOUBLE},
      </if>
      <if test="record.wy != null">
        wy = #{record.wy,jdbcType=INTEGER},
      </if>
      <if test="record.kg != null">
        kg = #{record.kg,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update yyjs
    set id = #{record.id,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=INTEGER},
      jsdate = #{record.jsdate,jdbcType=TIMESTAMP},
      radios = #{record.radios,jdbcType=DOUBLE},
      wy = #{record.wy,jdbcType=INTEGER},
      kg = #{record.kg,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.Yyjs">
    update yyjs
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="jsdate != null">
        jsdate = #{jsdate,jdbcType=TIMESTAMP},
      </if>
      <if test="radios != null">
        radios = #{radios,jdbcType=DOUBLE},
      </if>
      <if test="wy != null">
        wy = #{wy,jdbcType=INTEGER},
      </if>
      <if test="kg != null">
        kg = #{kg,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.Yyjs">
    update yyjs
    set pid = #{pid,jdbcType=INTEGER},
      jsdate = #{jsdate,jdbcType=TIMESTAMP},
      radios = #{radios,jdbcType=DOUBLE},
      wy = #{wy,jdbcType=INTEGER},
      kg = #{kg,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>



<mapper namespace="com.diich.dao.common.IActivityDao">
<!-- 活动实体对象的持久化 -->
<sql id="c_activity">_activity.id, _activity.category_id categoryId,
      _activity.status, _activity.lang, _activity.uri,
      _activity.create_time createTime, _activity.create_user_id createUserId,
      _activity.update_time updateTime, _activity.update_user_id updateUserId,
      _activity.submit_time submitTime, _activity.publish_time publishTime
    </sql>
<sql id="t_activity">activity</sql>
<select id="queryById" resultType="activityPO">
  select <include refid="c_activity"/> from <include refid="t_activity"/> _activity
  where _activity.id = #{id}
</select>

<update id="update" parameterType="com.diich.po.model.ActivityPO">
  update  <include refid="t_activity"/>
  <set>
    <if test="categoryId != null">category_id = #{categoryId} ,</if>
    <if test="submitTime != null "> submit_time = #{submitTime},</if>
    <if test="publishTime != null  "> publish_time = #{publishTime},</if>
    <if test="status != null">status = #{status},</if>
    <if test="lang != null">lang = #{lang},</if>
    <if test="uri != null">uri = #{uri},</if>
    update_time = #{updateTime},
    update_user_id = #{updateUserId}
  </set>
  where id = #{id}
</update>

<update id="delete" parameterType="java.lang.Long">
  update <include refid="t_activity"/>
  <set>
    status = 1
  </set>
  where id = #{id}
</update>

<insert id="insert" parameterType="com.diich.po.model.ActivityPO" >
  insert  into <include refid="t_activity"/>
  (`id`, `category_id`, `create_time`, `status`, `create_user_id`, `update_time`, `update_user_id`, `submit_time`, `publish_time`)
  VALUES (#{id}, #{categoryId}, #{createTime}, #{status}, #{createUserId}, #{updateTime}, #{updateUserId}, #{submitTime}, #{publishTime});
</insert>
</mapper>